<div class="container">
  <div class="img-container">
    <img id="dungeon-map" src="https://res.cloudinary.com/dfyvcni4b/image/upload/v1674013843/newDND/First_monster_hm2k80.jpg" />
  </div>
  <h2 id="question-text"></h2>
  <div class="choiceButtons">
    <button class="full-width" id="choice-one"></button>
    <button class="full-width" id="choice-two"></button>
    <button class="full-width" id="choice-three"></button>
    <button class="full-width" id="choice-four"></button>
  </div>
</div>
<script src="/js/adventure.js"></script>