<link rel="stylesheet" href="/css/adventure.css" />

<div class="container">
  <div class="img-container">
    <img id="dungeon-map" src="https://res.cloudinary.com/dfyvcni4b/image/upload/v1674013843/newDND/First_monster_hm2k80.jpg" />
  </div>
  <div id="hero-health">Hero Health: </div>
  <div id="enemy-health" style="display: none;">Enemy Health:</div>
  <h2 class="questions" id="question-text"></h2>

  <div class="choiceButtons" style="display: none;">
    <button class="full-width" id="choice-one"></button>
    <button class="full-width" id="choice-two"></button>
    <button class="full-width" id="choice-three"></button>
    <button class="full-width" id="choice-four"></button>
  </div>
  <div class="combatButtons">
    <button class="full-width" id="combat-one">Fight</button>
    <button class="full-width" id="combat-two">-</button>
    <button class="full-width" id="combat-three">-</button>
    <button class="full-width" id="combat-four">-</button>
  </div>
</div>
<script src="/js/adventure.js"></script>