<link rel="stylesheet" href="/css/homepage.css">
<div class="hero-create-card">
  <h2 class="">Create Your Hero</h2>
  <form class="hero-create-form">
    <div class="">
      <label for="name-hero-create">Name</label>
      <input class="" type="text" id="name-hero-create" />
    </div>
    <div class="">
      <label for="attack-hero-create">Attack:</label>
      <input class="" type="number" id="attack-hero-create" />
    </div>
    <div class="">
      <label for="hitpoints-hero-create">Hit Points:</label>
      <input class="" type="number" id="hitpoints-hero-create" />
    </div>
    <div class="">
      <label for="mana-hero-create">Mana:</label>
      <input class="" type="number" id="mana-hero-create" />
    </div>
    <div class="">
      <button class="" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/js/hero-create.js"></script>